<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475220845304-l58j5rvt8hnitcq4tsn31d4p7h7nenvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475220845304-l58j5rvt8hnitcq4tsn31d4p7h7nenvq</string>
	<key>API_KEY</key>
	<string>AIzaSyBjM1u53_H712sbUu-DyCrtrwGrx4ytPCg</string>
	<key>GCM_SENDER_ID</key>
	<string>475220845304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dotslab.snsMvp</string>
	<key>PROJECT_ID</key>
	<string>feather-570b0</string>
	<key>STORAGE_BUCKET</key>
	<string>feather-570b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475220845304:ios:0fd180e4965d17430e510d</string>
</dict>
</plist>